<h1>Reviews</h1>
<%= link_to 'Add Review', new_review_path %>
<% @reviews.each do |review| %>
  <h2><%= review.title %></h2>
  <%= link_to 'View', review_path(review) %>
  <%= link_to 'Edit', edit_review_path(review) %>
  <%= link_to 'Delete', review, method: :delete %>
  <% end %>


